<a href="https://colab.research.google.com/github/Arron-Harris/Using-R-Dplyr-To-Analyze-Data/blob/main/Using_R_Dplyr_to_analyze_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%load_ext rpy2.ipython

In [ ]:
%%R
library(tidyverse)

R[write to console]: ── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

R[write to console]: ✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.9
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

R[write to console]: ── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [ ]:
%%R
library("dplyr")

R[write to console]:
Attaching package: ‘dplyr’


R[write to console]: The following objects are masked from ‘package:stats’:

    filter, lag


R[write to console]: The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

dplyr is a library use for manipulating data in R. Here we will use a built in dataset called starwars to find insight. When it is run it gives back a dataframe.

In [ ]:
%%R
starwars

# A tibble: 87 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 Luke Sk…    172    77 blond      fair       blue            19   male  mascu…
 2 C-3PO       167    75 <NA>       gold       yellow         112   none  mascu…
 3 R2-D2        96    32 <NA>       white, bl… red             33   none  mascu…
 4 Darth V…    202   136 none       white      yellow          41.9 male  mascu…
 5 Leia Or…    150    49 brown      light      brown           19   fema… femin…
 6 Owen La…    178   120 brown, gr… light      blue            52   male  mascu…
 7 Beru Wh…    165    75 brown      light      blue            47   fema… femin…
 8 R5-D4        97    32 <NA>       white, red red             NA   none  mascu…
 9 Biggs D…    183    84 black      light      brown           24   male  mascu…
10 Obi-Wan…    182    77 auburn, w… fair       blue-gray       57   male  mascu…
# … with 77 more rows, and 5 more variables: homeworld <chr>, species <chr>,
#   films <list>, vehicles <list>, starships <list>

Setting the starwars dataframe equal to a variable called sw.

In [ ]:
%%R
sw <- starwars

Used the class function to confirm that this variable is a dataframe.

In [ ]:
%%R
class(sw)

[1] "tbl_df"     "tbl"        "data.frame"

Grabbing the the hair column from the dataframe.NA means that the information is not available.

In [ ]:
%%R
sw$hair_color

 [1] "blond"         NA              NA              "none"
 [5] "brown"         "brown, grey"   "brown"         NA
 [9] "black"         "auburn, white" "blond"         "auburn, grey"
[13] "brown"         "brown"         NA              NA
[17] "brown"         "brown"         "white"         "grey"
[21] "black"         "none"          "none"          "black"
[25] "none"          "none"          "auburn"        "brown"
[29] "brown"         "none"          "brown"         "none"
[33] "blond"         "none"          "none"          "none"
[37] "brown"         "black"         "none"          "black"
[41] "black"         "none"          "none"          "none"
[45] "none"          "none"          "none"          "none"
[49] "white"         "none"          "black"         "none"
[53] "none"          "none"          "none"          "none"
[57] "black"         "brown"         "brown"         "none"
[61] "black"         "black"         "brown"         "white"
[65] "black"         "black"         "blonde"        "none"
[69] "none"          "none"          "white"         "none"
[73] "none"          "none"          "none"          "none"
[77] "none"          "brown"         "brown"         "none"
[81] "none"          "black"         "brown"         "brown"
[85] "none"          "unknown"       "brown"

Used the filter function and set the condtition to only show people in starwars with a height greater than

In [ ]:
%%R
filter(sw,)
sw[sw$height>100,]

# A tibble: 80 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 Luke Sk…    172    77 blond      fair       blue            19   male  mascu…
 2 C-3PO       167    75 <NA>       gold       yellow         112   none  mascu…
 3 Darth V…    202   136 none       white      yellow          41.9 male  mascu…
 4 Leia Or…    150    49 brown      light      brown           19   fema… femin…
 5 Owen La…    178   120 brown, gr… light      blue            52   male  mascu…
 6 Beru Wh…    165    75 brown      light      blue            47   fema… femin…
 7 Biggs D…    183    84 black      light      brown           24   male  mascu…
 8 Obi-Wan…    182    77 auburn, w… fair       blue-gray       57   male  mascu…
 9 Anakin …    188    84 blond      fair       blue            41.9 male  mascu…
10 Wilhuff…    180    NA auburn, g… fair       blue            64   male  mascu…
# … with 70 more rows, and 5 more variables: homeworld <chr>, species <chr>,
#   films <list>, vehicles <list>, starships <list>

Used nrows function to see the number of rows in the from the height condition

In [ ]:
%%R
nrow(sw[sw$height>100,])

[1] 80

Glimps function allows me to see a quick snapshot of the data.

In [ ]:
%%R
sw%>%
  glimpse()

Rows: 87
Columns: 14
$ name       <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia Or…
$ height     <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180, 2…
$ mass       <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, 77.…
$ hair_color <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown", N…
$ skin_color <chr> "fair", "gold", "white, blue", "white", "light", "light", "…
$ eye_color  <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blue",…
$ birth_year <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.0, …
$ sex        <chr> "male", "none", "none", "male", "female", "male", "female",…
$ gender     <chr> "masculine", "masculine", "masculine", "masculine", "femini…
$ homeworld  <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan", "T…
$ species    <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "Huma…
$ films      <list> <"The Empire Strikes Back", "Revenge of the Sith", "Return…
$ vehicles   <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "Imp…
$ starships  <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x1",…

The string function stored the lists in the dataframe as strings.

In [ ]:
%%R
str(sw)

tibble [87 × 14] (S3: tbl_df/tbl/data.frame)
 $ name      : chr [1:87] "Luke Skywalker" "C-3PO" "R2-D2" "Darth Vader" ...
 $ height    : int [1:87] 172 167 96 202 150 178 165 97 183 182 ...
 $ mass      : num [1:87] 77 75 32 136 49 120 75 32 84 77 ...
 $ hair_color: chr [1:87] "blond" NA NA "none" ...
 $ skin_color: chr [1:87] "fair" "gold" "white, blue" "white" ...
 $ eye_color : chr [1:87] "blue" "yellow" "red" "yellow" ...
 $ birth_year: num [1:87] 19 112 33 41.9 19 52 47 NA 24 57 ...
 $ sex       : chr [1:87] "male" "none" "none" "male" ...
 $ gender    : chr [1:87] "masculine" "masculine" "masculine" "masculine" ...
 $ homeworld : chr [1:87] "Tatooine" "Tatooine" "Naboo" "Tatooine" ...
 $ species   : chr [1:87] "Human" "Droid" "Droid" "Human" ...
 $ films     :List of 87
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:6] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:7] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:4] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:3] "Attack of the Clones" "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:3] "Attack of the Clones" "Revenge of the Sith" "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr [1:6] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Revenge of the Sith" "Return of the Jedi" "A New Hope" ...
  ..$ : chr [1:4] "The Empire Strikes Back" "Return of the Jedi" "A New Hope" "The Force Awakens"
  ..$ : chr "A New Hope"
  ..$ : chr [1:3] "The Phantom Menace" "Return of the Jedi" "A New Hope"
  ..$ : chr [1:3] "The Empire Strikes Back" "Return of the Jedi" "A New Hope"
  ..$ : chr "A New Hope"
  ..$ : chr [1:5] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:5] "The Empire Strikes Back" "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith" ...
  ..$ : chr [1:3] "The Empire Strikes Back" "Attack of the Clones" "Return of the Jedi"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr [1:2] "The Empire Strikes Back" "Return of the Jedi"
  ..$ : chr "The Empire Strikes Back"
  ..$ : chr [1:2] "Return of the Jedi" "The Force Awakens"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "Return of the Jedi"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "Return of the Jedi"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "The Phantom Menace"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "The Phantom Menace"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Attack of the Clones"
  ..$ : chr "Attack of the Clones"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr [1:2] "Revenge of the Sith" "A New Hope"
  ..$ : chr [1:2] "Attack of the Clones" "Revenge of the Sith"
  ..$ : chr "Revenge of the Sith"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr "The Force Awakens"
  ..$ : chr [1:3] "Attack of the Clones" "The Phantom Menace" "Revenge of the Sith"
 $ vehicles  :List of 87
  ..$ : chr [1:2] "Snowspeeder" "Imperial Speeder Bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Imperial Speeder Bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tribubble bongo"
  ..$ : chr [1:2] "Zephyr-G swoop bike" "XJ-6 airspeeder"
  ..$ : chr(0)
  ..$ : chr "AT-ST"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Snowspeeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tribubble bongo"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Sith speeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Flitknot speeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Koro-2 Exodrive airspeeder"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Tsmeu-6 personal wheel bike"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
 $ starships :List of 87
  ..$ : chr [1:2] "X-wing" "Imperial shuttle"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "TIE Advanced x1"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "X-wing"
  ..$ : chr [1:5] "Jedi starfighter" "Trade Federation cruiser" "Naboo star skiff" "Jedi Interceptor" ...
  ..$ : chr [1:3] "Trade Federation cruiser" "Jedi Interceptor" "Naboo fighter"
  ..$ : chr(0)
  ..$ : chr [1:2] "Millennium Falcon" "Imperial shuttle"
  ..$ : chr [1:2] "Millennium Falcon" "Imperial shuttle"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "X-wing"
  ..$ : chr "X-wing"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Slave 1"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Millennium Falcon"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "A-wing"
  ..$ : chr(0)
  ..$ : chr "Millennium Falcon"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Naboo Royal Starship"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Scimitar"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Jedi starfighter"
  ..$ : chr(0)
  ..$ : chr "Naboo fighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "Belbullab-22 starfighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr "T-70 X-wing fighter"
  ..$ : chr(0)
  ..$ : chr(0)
  ..$ : chr [1:3] "H-type Nubian yacht" "Naboo star skiff" "Naboo fighter"

Use the filter function to show all characters with yellow eyes

In [ ]:
%%R
sw%>%
  filter(eye_color == 'yellow')

# A tibble: 11 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 C-3PO       167    75 <NA>       gold       yellow         112   none  mascu…
 2 Darth V…    202   136 none       white      yellow          41.9 male  mascu…
 3 Palpati…    170    75 grey       pale       yellow          82   male  mascu…
 4 Watto       137    NA black      blue, grey yellow          NA   male  mascu…
 5 Darth M…    175    80 none       red        yellow          54   male  mascu…
 6 Dud Bolt     94    45 none       blue, grey yellow          NA   male  mascu…
 7 Ki-Adi-…    198    82 white      pale       yellow          92   male  mascu…
 8 Yarael …    264    NA none       white      yellow          NA   male  mascu…
 9 Poggle …    183    80 none       green      yellow          NA   male  mascu…
10 Zam Wes…    168    55 blonde     fair, gre… yellow          NA   fema… femin…
11 Dexter …    198   102 none       brown      yellow          NA   male  mascu…
# … with 5 more variables: homeworld <chr>, species <chr>, films <list>,
#   vehicles <list>, starships <list>

This symbol %>% is for piping. piping is chainging together commands. Here we used the pip function to chain together the 2 commands. Used the count() to see how many people have yellow eyes.

In [ ]:
%%R
sw%>%
  filter(eye_color == 'yellow') %>%
  count()

# A tibble: 1 × 1
      n
  <int>
1    11

Characters with yellow eyes and a body mass of less than 80.

In [ ]:
%%R
sw%>%
  filter(eye_color == 'yellow',mass < 80)

# A tibble: 4 × 14
  name      height  mass hair_color skin_color eye_color birth_year sex   gender
  <chr>      <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
1 C-3PO        167    75 <NA>       gold       yellow           112 none  mascu…
2 Palpatine    170    75 grey       pale       yellow            82 male  mascu…
3 Dud Bolt      94    45 none       blue, grey yellow            NA male  mascu…
4 Zam Wese…    168    55 blonde     fair, gre… yellow            NA fema… femin…
# … with 5 more variables: homeworld <chr>, species <chr>, films <list>,
#   vehicles <list>, starships <list>

We have 4 characters that have yellow eyes and body mass is less than 80

In [ ]:
%%R
sw%>%
  filter(eye_color == 'yellow',mass < 80)%>%
  count()

# A tibble: 1 × 1
      n
  <int>
1     4

In [ ]:
%%R
sw_sorted <- sw%>%
  arrange(height,mass)

The dataframe is now sorted by height and mass is uner the name sw_sorted.

In [ ]:
%%R
sw_sorted

# A tibble: 87 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 Yoda         66    17 white      green      brown            896 male  mascu…
 2 Ratts T…     79    15 none       grey, blue unknown           NA male  mascu…
 3 Wicket …     88    20 brown      brown      brown              8 male  mascu…
 4 Dud Bolt     94    45 none       blue, grey yellow            NA male  mascu…
 5 R2-D2        96    32 <NA>       white, bl… red               33 none  mascu…
 6 R4-P17       96    NA none       silver, r… red, blue         NA none  femin…
 7 R5-D4        97    32 <NA>       white, red red               NA none  mascu…
 8 Sebulba     112    40 none       grey, red  orange            NA male  mascu…
 9 Gasgano     122    NA none       white, bl… black             NA male  mascu…
10 Watto       137    NA black      blue, grey yellow            NA male  mascu…
# … with 77 more rows, and 5 more variables: homeworld <chr>, species <chr>,
#   films <list>, vehicles <list>, starships <list>

In [ ]:
%%R
mutation <- sw

# A tibble: 87 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 Luke Sk…    172    77 blond      fair       blue            19   male  mascu…
 2 C-3PO       167    75 <NA>       gold       yellow         112   none  mascu…
 3 R2-D2        96    32 <NA>       white, bl… red             33   none  mascu…
 4 Darth V…    202   136 none       white      yellow          41.9 male  mascu…
 5 Leia Or…    150    49 brown      light      brown           19   fema… femin…
 6 Owen La…    178   120 brown, gr… light      blue            52   male  mascu…
 7 Beru Wh…    165    75 brown      light      blue            47   fema… femin…
 8 R5-D4        97    32 <NA>       white, red red             NA   none  mascu…
 9 Biggs D…    183    84 black      light      brown           24   male  mascu…
10 Obi-Wan…    182    77 auburn, w… fair       blue-gray       57   male  mascu…
# … with 77 more rows, and 5 more variables: homeworld <chr>, species <chr>,
#   films <list>, vehicles <list>, starships <list>

In [ ]:
%%R
sw_plus <- sw%>%
  mutate(height_x_mass = height*mass)

used the mutation function to make a new column that combinded hight * mass in a new column

In [ ]:
%%R
sw_plus
  glimpse(sw_plus)

Rows: 87
Columns: 15
$ name          <chr> "Luke Skywalker", "C-3PO", "R2-D2", "Darth Vader", "Leia…
$ height        <int> 172, 167, 96, 202, 150, 178, 165, 97, 183, 182, 188, 180…
$ mass          <dbl> 77.0, 75.0, 32.0, 136.0, 49.0, 120.0, 75.0, 32.0, 84.0, …
$ hair_color    <chr> "blond", NA, NA, "none", "brown", "brown, grey", "brown"…
$ skin_color    <chr> "fair", "gold", "white, blue", "white", "light", "light"…
$ eye_color     <chr> "blue", "yellow", "red", "yellow", "brown", "blue", "blu…
$ birth_year    <dbl> 19.0, 112.0, 33.0, 41.9, 19.0, 52.0, 47.0, NA, 24.0, 57.…
$ sex           <chr> "male", "none", "none", "male", "female", "male", "femal…
$ gender        <chr> "masculine", "masculine", "masculine", "masculine", "fem…
$ homeworld     <chr> "Tatooine", "Tatooine", "Naboo", "Tatooine", "Alderaan",…
$ species       <chr> "Human", "Droid", "Droid", "Human", "Human", "Human", "H…
$ films         <list> <"The Empire Strikes Back", "Revenge of the Sith", "Ret…
$ vehicles      <list> <"Snowspeeder", "Imperial Speeder Bike">, <>, <>, <>, "…
$ starships     <list> <"X-wing", "Imperial shuttle">, <>, <>, "TIE Advanced x…
$ height_x_mass <dbl> 13244.0, 12525.0, 3072.0, 27472.0, 7350.0, 21360.0, 1237…

Using the select function I was able to select the height and mass columns.

In [ ]:

%%R
sw %>%
select(height,mass)

# A tibble: 87 × 2
   height  mass
    <int> <dbl>
 1    172    77
 2    167    75
 3     96    32
 4    202   136
 5    150    49
 6    178   120
 7    165    75
 8     97    32
 9    183    84
10    182    77
# … with 77 more rows

Used the select funtiction to grab the hair color column. Used distinct function to show the unique colors of hair.

In [ ]:
%%R
sw %>%
  select(hair_color)%>%
  distinct()

# A tibble: 13 × 1
   hair_color
   <chr>
 1 blond
 2 <NA>
 3 none
 4 brown
 5 brown, grey
 6 black
 7 auburn, white
 8 auburn, grey
 9 white
10 grey
11 auburn
12 blonde
13 unknown

Used the sample function to randomly sample data from the dataframe
set.seed function will keep the sample from changing when it runs more than once.

In [ ]:
%%R
sw %>%
  
  sample_n(10)

# A tibble: 10 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 Boba Fe…    183  78.2 black      fair       brown           31.5 male  mascu…
 2 Wilhuff…    180  NA   auburn, g… fair       blue            64   male  mascu…
 3 Darth V…    202 136   none       white      yellow          41.9 male  mascu…
 4 Dud Bolt     94  45   none       blue, grey yellow          NA   male  mascu…
 5 Bossk       190 113   none       green      red             53   male  mascu…
 6 Sebulba     112  40   none       grey, red  orange          NA   male  mascu…
 7 Nute Gu…    191  90   none       mottled g… red             NA   male  mascu…
 8 Arvel C…     NA  NA   brown      fair       brown           NA   male  mascu…
 9 Tion Me…    206  80   none       grey       black           NA   male  mascu…
10 Padmé A…    165  45   brown      light      brown           46   fema… femin…
# … with 5 more variables: homeworld <chr>, species <chr>, films <list>,
#   vehicles <list>, starships <list>

Used the simple frac function to get a 20% of the data from the dataframe.

In [ ]:
%%R
sw %>%
  
  sample_frac(0.2)

# A tibble: 17 × 14
   name     height  mass hair_color skin_color eye_color birth_year sex   gender
   <chr>     <int> <dbl> <chr>      <chr>      <chr>          <dbl> <chr> <chr>
 1 Qui-Gon…    193    89 brown      fair       blue              92 male  mascu…
 2 San Hill    191    NA none       grey       gold              NA male  mascu…
 3 Wat Tam…    193    48 none       green, gr… unknown           NA male  mascu…
 4 R5-D4        97    32 <NA>       white, red red               NA none  mascu…
 5 Jocasta…    167    NA white      fair       blue              NA fema… femin…
 6 Mon Mot…    150    NA auburn     fair       blue              48 fema… femin…
 7 Wilhuff…    180    NA auburn, g… fair       blue              64 male  mascu…
 8 Yarael …    264    NA none       white      yellow            NA male  mascu…
 9 Bail Pr…    191    NA black      tan        brown             67 male  mascu…
10 Ayla Se…    178    55 none       blue       hazel             48 fema… femin…
11 Zam Wes…    168    55 blonde     fair, gre… yellow            NA fema… femin…
12 Tion Me…    206    80 none       grey       black             NA male  mascu…
13 Raymus …    188    79 brown      light      brown             NA male  mascu…
14 Captain…     NA    NA unknown    unknown    unknown           NA <NA>  <NA>
15 Watto       137    NA black      blue, grey yellow            NA male  mascu…
16 Ratts T…     79    15 none       grey, blue unknown           NA male  mascu…
17 Taun We     213    NA none       grey       black             NA fema… femin…
# … with 5 more variables: homeworld <chr>, species <chr>, films <list>,
#   vehicles <list>, starships <list>

Used the summarize function to give a summery and mean about the height.

In [ ]:
%%R
sw%>%
  summarize(avg = mean(height, na.rm = TRUE))

# A tibble: 1 × 1
    avg
  <dbl>
1  174.

Used the group by function to group two columns next to eachother.

In [ ]:
%%R
sw %>%
  group_by(eye_color) %>%
  summarize(min_var = min(height, na.rm = TRUE))

# A tibble: 15 × 2
   eye_color     min_var
   <chr>           <dbl>
 1 black             122
 2 blue              150
 3 blue-gray         182
 4 brown              66
 5 dark              Inf
 6 gold              191
 7 green, yellow     216
 8 hazel             170
 9 orange            112
10 pink              180
11 red                96
12 red, blue          96
13 unknown            79
14 white             178
15 yellow             94